.board-card-hover
{
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
}

.board-card-hover:hover 
 {
     transform: translateY(-4px);
     box-shadow: 0 8px 15px rgba(0,0,0,0.1);
 }
