.task-card 
{
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 8px;
}

.task-card:hover
{
     transform: translateY(-2px);
     box-shadow: 0 4px 8px rgba(0,0,0,0.15);
     background-color: #fafafa;

}
